<div class="row">
  <div class="col">
    <h3><%=link_to @venue.name, @venue%></h3>
    <h4>Upcoming Shows!</h4>
    <% if @venue.shows %>
      <ul>
      <%counter = 1%>
        <%@venue.shows.upcoming.limit(5).each do |show| %>
          <li><%=show.title%></li>
        <%end%>
      </ul>
      <%=link_to 'See All Upcoming Shows', @venue%>
    <%end%>
  </div>
</div>
