<h2>Upcoming Shows at <%=@venue.name%></h2>
<%if @venue.shows.any? %>
<% @venue.shows.upcoming.limit(25).each do |show| %>
    <%= render :partial => "shows/show_card",:locals => {:show => show} %>
  <%end%>
  <%=link_to "See All Shows at #{@venue.name}", @venue%>
<% else %>
  <p>No upcoming shows</p>
<% end %>
